# Kernel Configuration for Infinix Note 30 4G (Mahiru/Millennium Source)
GKI_VERSION=android12-5.10
KERNEL_REPO=https://github.com
KERNEL_BRANCH=millennium-base
KERNEL_IMAGE_NAME=Image

# Network Driver Injection for Atheros AR9271
EXTRA_CONFIGS="CONFIG_MODULES=y CONFIG_WIRELESS=y CONFIG_NET_CORE=y CONFIG_WLAN=y CONFIG_CFG80211=y CONFIG_MAC80211=y CONFIG_ATH_CARDS=y CONFIG_ATH9K_HTC=y"

# Toolchain settings
NEED_CCACHE=false
